html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.video {
  margin: 3rem 3rem;
}


.jumbotron {
  margin: 2rem 2rem;
}

.container {
  margin-top: 2rem;
}
h2 {
  font-weight: bold;
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  list-style-type: decimal;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
span {
  font-weight: bold;
  font-size:;
  font-family: 'Roboto', sans-serif;
}

.card-img-top {

max-height: 800px;
max-width: 800px;
}

.card-body {
  margin-left: 0.75rem;
}
